deploy/*
work/*
postrun.sh
SKIP
SKIP_IMAGES
.pc
*-pc
apt-cacher-ng/
deps/01-download
deps/02-extract
deps/03-build
deps/tools/_cscore.so
deps/tools/rpiConfigServer
deps/tools/setuidgids
*.o
*.sw?
*.debug
stage2/01-sys-tweaks/extfiles
