[Desktop Entry]
Name=Update
Comment=Update Jambox Apps
Icon=/usr/share/hplip/data/images/32x32/download.png
Exec=/usr/local/bin/jambox_update.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
