# wlanpi-profiler.service

[Unit]
Description=Wi-Fi client capabilities analyzer tool
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/sbin/profiler
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes