[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/usb-mount.sh add %i
ExecStartPost=/usr/local/bin/mpc-usb.sh add %i

ExecStop=/usr/local/bin/mpc-usb.sh remove %i
ExecStop=/usr/local/bin/usb-mount.sh remove %i
