[Unit]
Description=Scramjet Transform Hub
Documentation=https://docs.scramjet.org/
After=network.target

[Service]
Type=simple
User=sth
ExecStart=/usr/bin/start-sth
WorkingDirectory=/usr/lib/sth
Restart=on-failure

[Install]
WantedBy=multi-user.target