[Unit]
Description=FirstBoot
Before=rc-local.service network.target
ConditionFileNotEmpty=/opt/firstboot.sh

[Service]
ExecStart=/boot/firstboot.sh
ExecStartPost=/bin/mv /opt/firstboot.sh /tmp/firstboot.sh.done
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
