[Unit]
Description=Scramjet Transform Hub
Documentation=https://docs.scramjet.org/
After=network.target

[Service]
Type=simple
User=sth
ExecStart=/usr/bin/sth --config=/boot/sth-config.json --runtime-adapter=process --safe-operation-limit=64 --sequences-root=/usr/lib/sth/sequences
WorkingDirectory=/usr/lib/sth
Restart=on-failure

[Install]
WantedBy=multi-user.target