[Unit]
Description=Control the web service service of your Dride
Documentation=https://dride.io/documentation
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home/core/dride-ws/server/app.js
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target




