
name: Build image

on:
  # Allow manual runs of workflow from Actions tab
  workflow_dispatch:

  schedule:
    - cron: '37 5 * * *'
  push:
    branches:
      - force-build

jobs:
  build:
    runs-on: 'ubuntu-20.04'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build image
        run: |
          last_commit_date=$(git log -1 --format=%cd --date=unix)
          last_day=$(date -d '-1 day' +%s)

          if [ "${last_commit_date}" -lt "${last_day}" ]; then
            echo "Nothig new to build."
            echo "Last commit:"
            git log -1 --format='%C(auto)%h (%cd) - %s' --date=relative
            exit 0
          fi

          sudo docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          sudo ./build-docker.sh

      - name: Get current date
        if: always()
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Upload image
        uses: actions/upload-artifact@v2
        with:
          name: wlanpi-nightly-release-${{ steps.date.outputs.date }}
          path: deploy/*.zip

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: wlanpi-nightly-release-${{ steps.date.outputs.date }}-buildlogs
          path: deploy/*.log

  slack-workflow-status:
    if: always()
    name: Post Workflow Status to Slack
    needs:
      - build
    runs-on: 'ubuntu-20.04'
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel: '#pi-gen'
          name: 'WLAN Pi CI Bot'
